@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.logo-da-comunidade{
    height: 72px;
}
.cabeçalho-menu{
    display: flex;
    gap: 32px;
}
.cabeçalho-menu-item{
    font-family: 'sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
.conteudo{
    border-top: 0.4px solid #fff2ffe7;
    margin-bottom: 48px;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}
.conteudo-principal-escrito-subtitulo{
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}
.conteudo-principal-botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}
.conteudo-principal-botao{
    background-color: #ecd6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20vmax;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
}
.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid #fff2e7;
    padding: 48px;
    font-family: 'righteous', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff2e7;
    margin-bottom: 16px;
}
.conteudo-secundario-escrito-item{
    font-family: 'sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
}
.rodape{
    padding: 32px;
    border-top: 0.4px solid #fff2ffe7;
}
.rodape-imagem{
    height: 48px;
    display: block;
    margin: 0 auto;
}
